.pp-clearfix:after {
    content: "";
    display: table;
    clear: both
}

[class^=pp-icon-]:before,
[class*=" pp-icon-"]:before {
    font-family: "polyplanet-icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.pp-icon-arrow-down:before {
    content: ""
}

.pp-icon-arrow-left:before {
    content: ""
}

.pp-icon-arrow-right:before {
    content: ""
}

.pp-icon-arrow-up:before {
    content: ""
}

.pp-icon-clock-hand:before {
    content: ""
}

.pp-icon-clock-invers:before {
    content: ""
}

.pp-icon-clock:before {
    content: ""
}

.pp-icon-close:before {
    content: ""
}

.pp-icon-email:before {
    content: ""
}

.pp-icon-facebook:before {
    content: ""
}

.pp-icon-gplus:before {
    content: ""
}

.pp-icon-linkedin:before {
    content: ""
}

.pp-icon-location:before {
    content: ""
}

.pp-icon-menu:before {
    content: ""
}

.pp-icon-plus:before {
    content: ""
}

.pp-icon-share:before {
    content: ""
}

.pp-icon-twitter:before {
    content: ""
}

@font-face {
    font-family: "polyplanet-icons";
    src: url("../fonts/polyplanet-icons.eot?16560b27aa0");
    src: url("../fonts/polyplanet-icons.eot?16560b27aa0#iefix") format("embedded-opentype"), url("../fonts/polyplanet-icons.woff2?16560b27aa0") format("woff2"), url("../fonts/polyplanet-icons.woff?16560b27aa0") format("woff"), url("../fonts/polyplanet-icons.ttf?16560b27aa0") format("truetype"), url("../fonts/polyplanet-icons.svg?16560b27aa0#polyplanet-icons") format("svg");
    font-weight: normal;
    font-style: normal
}

.pp-events * {
    box-sizing: border-box
}

.pp-screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    position: absolute !important;
    height: 1px;
    width: 1px
}

@keyframes spin {
    from {
        transform: rotate(90deg)
    }

    to {
        transform: rotate(450deg)
    }
}

.pp-calendar-loader+.pp-events {
    transition: opacity .5s;
    opacity: 1
}

.pp-calendar-loader.pp-loading+.pp-events {
    opacity: 0
}

.pp-loading {
    text-align: center
}

.pp-loading:after,
.pp-loading:before {
    content: "";
    font-family: "polyplanet-icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 28px;
    color: #fff;
    width: 28px;
    height: 28px;
    display: block;
    margin: 0 auto
}

.pp-loading:before {
    background-color: #737a83;
    border-radius: 14px;
    animation: spin 1s infinite linear
}

.pp-loading:after {
    margin-top: -28px;
    animation: spin 12s infinite linear
}

.pp-loading+.pp-events {
    opacity: 0
}

.pp-events table,
.entry .pp-events table {
    line-height: 1.5
}

.pp-events table tr.alt,
.entry .pp-events table tr.alt {
    background-color: transparent
}

.pp-events table td,
.pp-events table th,
.entry .pp-events table td,
.entry .pp-events table th {
    border-bottom-style: none
}

.pp-events table th,
.entry .pp-events table th {
    border-top-style: none
}

.pp-map,
[data-map=leaflet] {
    width: 100%;
    min-height: 250px;
    border-style: none;
    z-index: 1
}

.pp-event-location-map {
    border-top-width: .5px;
    border-top-style: solid;
    position: relative;
    line-height: 1em;
    box-sizing: content-box;
    padding-top: .5px
}

.pp-event-location-map br {
    display: none
}

.pp-event-location-map iframe {
    pointer-events: none;
    margin-bottom: 0
}

.pp-event-location-map iframe~small {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    display: block
}

.pp-event-location-map iframe~small a {
    display: inline-block;
    margin: 10px;
    border: .5px solid #cdcdcd;
    background: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    color: #3a3e43
}

.pp-event-location-map iframe~small a:hover,
.pp-event-location-map iframe~small a:focus {
    color: #72c0d6
}

.pp-event-location-map:focus iframe {
    pointer-events: all
}

.leaflet-marker-icon.pp-icon-location {
    font-size: 40px;
    line-height: 40px;
    left: -22px;
    top: -36px;
    color: #72c0d6
}

.leaflet-bar a {
    transition: color .3s
}

.leaflet-bar a,
.pp-event .leaflet-bar a,
.leaflet-bar a:hover {
    border-width: 0;
    border-style: none;
    border-bottom-width: .5px;
    border-bottom-style: solid
}

.leaflet-bar a:last-child {
    border-bottom-style: none
}

.leaflet-touch .leaflet-bar {
    border-width: .5px
}

.pp-event a {
    text-decoration: none;
    border-bottom-style: none
}

.pp-event th {
    vertical-align: top
}

.pp-date-short {
    text-align: center;
    font-size: 12px;
    line-height: 1em;
    position: relative;
    margin: 0 auto
}

.pp-date-short .year,
.pp-date-short .day,
.pp-date-short .month,
.pp-date-short .until {
    display: block
}

.pp-date-short .year {
    letter-spacing: .02em
}

.pp-date-short .year.this-year {
    display: none
}

.pp-date-short .day {
    line-height: 1em;
    font-weight: 300
}

.pp-date-short .month {
    text-transform: uppercase;
    letter-spacing: .02em
}

.pp-date-short .until {
    font-size: 17px
}

.pp-date-short .pp-date-from .day {
    font-size: 30px
}

@media screen and (min-width: 768px) {
    .pp-date-short .pp-date-from .day {
        font-size: 40px
    }
}

.pp-events-list .pp-date-short .pp-date-to,
.pp-tiles-small .pp-date-short .pp-date-to,
.pp-event-recurring .pp-date-short .pp-date-to {
    position: absolute;
    left: 100%;
    bottom: 0;
    padding-left: 5px
}

.pp-date-short .pp-date-to .day {
    font-size: 17px
}

.pp-date-short .pp-date-to .month {
    font-size: 10px
}

.pp-events .pp-title {
    font-weight: 300
}

.pp-events.pp-events-tiles {
    margin-left: -8px;
    margin-right: -8px
}

.pp-events.pp-events-tiles:after {
    content: "";
    display: table;
    clear: both
}

.pp-event-info h1,
.pp-event-info h2,
.pp-event-info h3,
.pp-event-info h4,
.pp-event-info h5,
.pp-event-info h6,
.pp-event-info p,
.pp-event-head h1,
.pp-event-head h2,
.pp-event-head h3,
.pp-event-head h4,
.pp-event-head h5,
.pp-event-head h6,
.pp-event-head p {
    margin: 0;
    font-weight: 400
}

.pp-event-content {
    padding: 20px 50px
}

.pp-event {
    box-sizing: border-box
}

.pp-event .pp-event-title {
    margin-top: 0;
    margin-bottom: 0
}

.pp-event .pp-event-title .pp-title-text {
    text-decoration: none;
    box-shadow: none
}

.pp-event-inline .pp-event-body.has-no-thumbnail.has-no-content {
    display: none
}

.pp-event-inline-content .pp-icon:before {
    font-size: 25px;
    vertical-align: middle
}

.single-pp_event .pp-event-inline-content {
    box-shadow: 0 0 3px rgba(0, 0, 0, .15)
}

.single-pp_event .pp-event-inline-content :first-child {
    border-top-style: none
}

.pp-event-inline-content .pp-event-link {
    padding: 20px;
    border-top-width: .5px;
    border-top-style: solid;
    text-align: center
}

.pp-event-inline-content .pp-event-link a {
    color: #72c0d6
}

.pp-event-info {
    border-top-width: .5px;
    border-top-style: solid;
    text-align: center;
    display: flex;
    flex-direction: row
}

.pp-event-info time {
    white-space: nowrap
}

.pp-event-info .pp-icon {
    display: block;
    margin-bottom: 12px
}

.pp-event-info .pp-event-datetime,
.pp-event-info .pp-event-address,
.pp-event-info .pp-event-link {
    flex: 1;
    padding: 20px
}

.pp-event-info .pp-event-link,
.pp-event-info .pp-event-address {
    border-left-width: .5px;
    border-left-style: solid
}

.pp-event-info .pp-event-link,
.pp-event-info .pp-event-link *,
.pp-event-info .pp-event-address,
.pp-event-info .pp-event-address * {
    font-style: normal
}

.pp-title,
.entry-content .pp-title,
.entry-summary .pp-title,
.page-content .pp-title,
.comment-content .pp-title {
    margin-top: 0
}

.pp-event-inline .pp-title {
    display: none
}

#tinymce .pp-events a,
.widget .pp-events a,
.site-footer .widget-area .pp-events a,
.entry-content .pp-events a,
.entry-summary .pp-events a,
.page-content .pp-events a,
.comment-content .pp-events a {
    text-decoration: none
}

#tinymce .pp-events a,
#tinymce .pp-events a:hover,
.widget .pp-events a,
.widget .pp-events a:hover,
.site-footer .widget-area .pp-events a,
.site-footer .widget-area .pp-events a:hover,
.entry-content .pp-events a,
.entry-content .pp-events a:hover,
.entry-summary .pp-events a,
.entry-summary .pp-events a:hover,
.page-content .pp-events a,
.page-content .pp-events a:hover,
.comment-content .pp-events a,
.comment-content .pp-events a:hover {
    box-shadow: none;
    border-bottom-style: none
}

.pp-event-sharing {
    border-top-width: .5px;
    border-top-style: solid;
    background-color: #fdfdfd;
    text-align: center;
    padding: 20px 0
}

.pp-event-sharing a {
    font-size: 20px;
    display: inline-block;
    margin: 0 .5em;
    color: #72c0d6
}

.pp-event-sharing a:hover {
    text-decoration: none;
    border-bottom-style: none
}

[data-pp-colors=dark] {
    color: #fdfdfd
}

[data-pp-colors=dark] .pp-event-inline-content {
    background: #23272d
}

[data-pp-colors=dark] .pp-event {
    color: #a2aab3
}

[data-pp-colors=dark] .pp-event-title,
[data-pp-colors=dark] .pp-event-title a {
    color: #fdfdfd
}

[data-pp-colors=dark].pp-tiles-large .pp-event-date,
[data-pp-colors=dark].pp-events-list .pp-event-date {
    background-color: #23272d;
    border-right: .5px solid #737a83
}

[data-pp-colors=dark].pp-tiles-large .pp-date-short .year,
[data-pp-colors=dark].pp-tiles-large .pp-date-short .month,
[data-pp-colors=dark].pp-events-list .pp-date-short .year,
[data-pp-colors=dark].pp-events-list .pp-date-short .month {
    color: #fff
}

[data-pp-colors=dark].pp-tiles-large .pp-date-short .pp-date-to .day,
[data-pp-colors=dark].pp-events-list .pp-date-short .pp-date-to .day {
    color: #a2aab3
}

[data-pp-colors=dark].pp-tiles-large .pp-event-heading,
[data-pp-colors=dark].pp-events-list .pp-event-heading {
    background-color: #4d545c
}

[data-pp-colors=dark].pp-events-list .pp-event {
    background-color: #4d545c
}

[data-pp-colors=dark].pp-tiles-large .pp-event-meta,
.entry-content [data-pp-colors=dark].pp-tiles-large .pp-event-meta {
    color: #fdfdfd
}

[data-pp-colors=dark] .pp-event-recurring .pp-recurring-date:hover,
[data-pp-colors=dark] .pp-event-recurring .pp-recurring-date:focus {
    background-color: #23272d
}

[data-pp-colors=dark] .pp-event-recurring .pp-recurring-date:hover .day,
[data-pp-colors=dark] .pp-event-recurring .pp-recurring-date:focus .day {
    color: #72c0d6
}

[data-pp-colors=dark] .pp-map {
    background-color: #4d545c
}

[data-pp-colors=dark] .pp-event-sharing {
    background-color: #23272d
}

[data-pp-colors=dark] .pp-event-body,
[data-pp-colors=dark] .pp-event-link,
[data-pp-colors=dark] .pp-event-info,
[data-pp-colors=dark] .pp-event-info .pp-event-address,
[data-pp-colors=dark] .pp-event-location-map,
[data-pp-colors=dark] .pp-event-recurring,
[data-pp-colors=dark].pp-events-list .pp-event-inline,
.single-pp_event [data-pp-colors=dark] .pp-event-inline-content,
[data-pp-colors=dark].pp-events-tiles .pp-event-inline-content,
[data-pp-colors=dark] .pp-event-sharing {
    border-color: #737a83
}

[data-pp-colors=dark] .pp-more-box .pp-more {
    background: -moz-linear-gradient(top, rgba(77, 84, 92, 0) 0%, #4d545c 80%);
    background: -webkit-linear-gradient(top, rgba(77, 84, 92, 0) 0%, #4d545c 80%);
    background: linear-gradient(to bottom, rgba(77, 84, 92, 0) 0%, #4d545c 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff", endColorstr="#ffffff", GradientType=1)
}

[data-pp-colors=dark] .pp-more-box .pp-more:hover {
    color: #fdfdfd
}

[data-pp-colors=dark] .pp-event-sharing a:hover {
    color: #fdfdfd
}

[data-pp-colors=dark] .leaflet-bar a {
    background-color: #4d545c;
    color: #a2aab3;
    border-color: #737a83
}

[data-pp-colors=dark] .leaflet-bar a:hover {
    color: #72c0d6
}

[data-pp-colors=dark] .leaflet-touch .leaflet-bar {
    border-color: #737a83
}

[data-pp-colors=dark] .pp-close {
    color: #fdfdfd;
    text-shadow: 0 0 5px rgba(0, 0, 0, .7)
}

[data-pp-colors=dark].pp-events-month {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    background-color: #1d2025
}

[data-pp-colors=dark] .pp-calendar-month {
    margin: 0
}

[data-pp-colors=dark] .pp-calendar-month .pp-mon {
    color: #fff
}

[data-pp-colors=dark] .pp-calendar-month .pp-calendar-month-title .pp-title {
    color: #737a83
}

[data-pp-colors=dark] .pp-calendar-month th[data-weekday] {
    color: #a2aab3
}

[data-pp-colors=dark] .pp-calendar-month th[data-weekday="6"],
[data-pp-colors=dark] .pp-calendar-month th[data-weekday="7"] {
    color: #737a83
}

[data-pp-colors=dark] .pp-calendar-month [data-day] .pp-day {
    background-color: #3a3e43;
    border-color: #737a83;
    color: #a2aab3
}

[data-pp-colors=dark] .pp-calendar-month [data-day][data-weekday="6"] .pp-day,
[data-pp-colors=dark] .pp-calendar-month [data-day][data-weekday="7"] .pp-day {
    background-color: #23272d;
    border-color: #737a83;
    color: #737a83
}

[data-pp-colors=dark] .pp-calendar-month .pp-month-day {
    background: #23272d
}

[data-pp-colors=dark] .pp-calendar-month .pp-month-day[data-more=true] {
    box-shadow: 0 0 3px rgba(0, 0, 0, .15)
}

[data-pp-colors=dark] .pp-calendar-month .pp-event,
[data-pp-colors=dark] .pp-calendar-month .pp-event .pp-event-title,
[data-pp-colors=dark] .pp-calendar-day .pp-event,
[data-pp-colors=dark] .pp-calendar-day .pp-event .pp-event-title {
    color: #23272d
}

[data-pp-colors=dark] .pp-schedule {
    background-color: #23272d
}

[data-pp-colors=dark] .pp-schedule-title {
    background-color: #1d2025;
    border-color: #737a83
}

[data-pp-colors=dark] .pp-schedule-title .pp-calendar-day-name-long {
    color: #fff
}

[data-pp-colors=dark] .pp-schedule-title time {
    color: #a2aab3
}

[data-pp-colors=dark] .pp-schedule-content {
    border-color: #737a83
}

[data-pp-colors=dark] .pp-schedule-hour.pp-schedule-hour-all-day .pp-schedule-content {
    background-color: #23272d
}

[data-pp-colors=dark] .pp-schedule-hour.pp-schedule-hour-all-day .pp-icon-clock-invers:before {
    color: #4d545c;
    background-color: #a2aab3
}

[data-pp-colors=dark] .pp-schedule-hour .pp-hour {
    color: #a2aab3
}

[data-pp-colors=dark].pp-events-month .pp-more,
[data-pp-colors=dark].pp-events-workweek .pp-more,
[data-pp-colors=dark].pp-events-week .pp-more {
    color: #a2aab3
}

[data-pp-colors=dark].pp-events-month .pp-more:hover,
[data-pp-colors=dark].pp-events-month .pp-more:focus,
[data-pp-colors=dark].pp-events-workweek .pp-more:hover,
[data-pp-colors=dark].pp-events-workweek .pp-more:focus,
[data-pp-colors=dark].pp-events-week .pp-more:hover,
[data-pp-colors=dark].pp-events-week .pp-more:focus {
    color: #72c0d6
}

[data-pp-colors=dark].pp-events-week,
[data-pp-colors=dark].pp-events-workweek {
    background-color: #1d2025;
    border-color: #4d545c
}

[data-pp-colors=dark].pp-events-week .pp-more-box .pp-calendar-day-name-short,
[data-pp-colors=dark].pp-events-workweek .pp-more-box .pp-calendar-day-name-short {
    color: #f9f9f9
}

[data-pp-colors=dark].pp-events-week .pp-calendar-day[data-weekday="6"] .pp-calendar-day-name-short,
[data-pp-colors=dark].pp-events-week .pp-calendar-day[data-weekday="7"] .pp-calendar-day-name-short {
    color: #737a83
}

[data-pp-colors=dark].pp-events-week .pp-calendar-day[data-weekday="6"] .pp-schedule,
[data-pp-colors=dark].pp-events-week .pp-calendar-day[data-weekday="7"] .pp-schedule {
    background-color: #23272d
}

[data-pp-colors=dark].pp-events-week .pp-calendar-day[data-weekday="6"] .pp-schedule-title,
[data-pp-colors=dark].pp-events-week .pp-calendar-day[data-weekday="7"] .pp-schedule-title {
    background-color: #23272d;
    border-color: #2f343b;
    color: #737a83
}

[data-pp-colors=dark] .pp-loading:after,
[data-pp-colors=dark] .pp-loading:before {
    color: #1d2025
}

[data-pp-colors=dark] .pp-loading:before {
    background-color: #f9f9f9
}

[data-pp-colors=light] .pp-event-inline-content {
    background: #fff
}

[data-pp-colors=light] .pp-event {
    color: #737a83
}

[data-pp-colors=light] .pp-event-title,
[data-pp-colors=light] .pp-event-title a {
    color: #737a83
}

[data-pp-colors=light].pp-tiles-large .pp-event-date,
[data-pp-colors=light].pp-events-list .pp-event-date {
    background-color: #fdfdfd;
    border-right: .5px solid #e5e5e5
}

[data-pp-colors=light].pp-tiles-large .pp-date-short .year,
[data-pp-colors=light].pp-tiles-large .pp-date-short .month,
[data-pp-colors=light].pp-events-list .pp-date-short .year,
[data-pp-colors=light].pp-events-list .pp-date-short .month {
    color: #3a3e43
}

[data-pp-colors=light].pp-tiles-large .pp-date-short .pp-date-to .day,
[data-pp-colors=light].pp-events-list .pp-date-short .pp-date-to .day {
    color: #737a83
}

[data-pp-colors=light].pp-tiles-large .pp-event-heading,
[data-pp-colors=light].pp-events-list .pp-event-heading {
    background-color: #fff
}

[data-pp-colors=light].pp-events-list .pp-event {
    background-color: #fff
}

[data-pp-colors=light].pp-tiles-large .pp-event-meta,
.entry-content [data-pp-colors=light].pp-tiles-large .pp-event-meta {
    color: #737a83
}

[data-pp-colors=light] .pp-event-recurring .pp-recurring-date:hover,
[data-pp-colors=light] .pp-event-recurring .pp-recurring-date:focus {
    background-color: #fdfdfd
}

[data-pp-colors=light] .pp-event-recurring .pp-recurring-date:hover .day,
[data-pp-colors=light] .pp-event-recurring .pp-recurring-date:focus .day {
    color: #72c0d6
}

[data-pp-colors=light] .pp-event-recurring .pp-color-day {
    color: #e5e5e5
}

[data-pp-colors=light] .pp-event-recurring .pp-date-to .day {
    color: #cacaca
}

[data-pp-colors=light] .pp-map {
    background-color: #fdfdfd
}

[data-pp-colors=light] .pp-event-sharing {
    background-color: #fdfdfd
}

[data-pp-colors=light] .pp-event-body,
[data-pp-colors=light] .pp-event-link,
[data-pp-colors=light] .pp-event-info,
[data-pp-colors=light] .pp-event-info .pp-event-address,
[data-pp-colors=light] .pp-event-location-map,
[data-pp-colors=light] .pp-event-recurring,
[data-pp-colors=light].pp-events-list .pp-event-inline,
.single-pp_event [data-pp-colors=light] .pp-event-inline-content,
[data-pp-colors=light].pp-events-tiles .pp-event-inline-content,
[data-pp-colors=light] .pp-event-sharing {
    border-color: #cdcdcd
}

[data-pp-colors=light] .pp-event-inline-content .pp-event-content {
    color: #3a3e43
}

[data-pp-colors=light] .pp-event-inline-content .pp-event-content .pp-title {
    color: #737a83
}

[data-pp-colors=light] .pp-event-inline-content .pp-icon:before {
    color: #737a83
}

[data-pp-colors=light] .pp-more-box .pp-more {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 80%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 80%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff", endColorstr="#ffffff", GradientType=1)
}

[data-pp-colors=light] .pp-more-box .pp-more:hover {
    color: #737a83
}

[data-pp-colors=light] .pp-event-sharing a:hover {
    color: #737a83
}

[data-pp-colors=light] .pp-event-info .pp-time-long,
[data-pp-colors=light] .pp-event-info .pp-date-long {
    color: #3a3e43
}

[data-pp-colors=light] .pp-event-info .pp-time-long+.pp-date-long {
    color: #afafaf
}

[data-pp-colors=light] .pp-event-info .pp-event-address {
    color: #3a3e43
}

[data-pp-colors=light] .leaflet-bar a {
    background-color: #fdfdfd;
    color: #3a3e43;
    border-color: #e5e5e5
}

[data-pp-colors=light] .leaflet-bar a:hover {
    color: #72c0d6
}

[data-pp-colors=light] .leaflet-touch .leaflet-bar {
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    border-color: #cdcdcd
}

[data-pp-colors=light] .pp-close {
    color: #737a83;
    text-shadow: 0 0 3px #fff
}

[data-pp-colors=light] .pp-calendar-month .pp-mon {
    color: #3a3e43
}

[data-pp-colors=light] .pp-calendar-month .pp-calendar-month-title .pp-title {
    color: #cdcdcd
}

[data-pp-colors=light] .pp-calendar-month th[data-weekday="6"],
[data-pp-colors=light] .pp-calendar-month th[data-weekday="7"] {
    color: #9da5ab
}

[data-pp-colors=light] .pp-calendar-month [data-day] .pp-day {
    background-color: #fdfdfd;
    border-color: #cdcdcd;
    color: #737a83
}

[data-pp-colors=light] .pp-calendar-month [data-day][data-weekday="6"] .pp-day,
[data-pp-colors=light] .pp-calendar-month [data-day][data-weekday="7"] .pp-day {
    background-color: #f2f4f8;
    border-color: rgba(205, 205, 205, .8);
    color: #9da5ab
}

[data-pp-colors=light] .pp-calendar-month [data-day][data-weekday="6"] .pp-month-day,
[data-pp-colors=light] .pp-calendar-month [data-day][data-weekday="7"] .pp-month-day {
    background-color: #f7f8f9
}

[data-pp-colors=light] .pp-calendar-month .pp-month-day {
    background-color: #fff
}

[data-pp-colors=light] .pp-calendar-month .pp-month-day[data-more=true] {
    box-shadow: 0 0 4px rgba(58, 62, 67, .5)
}

[data-pp-colors=light] .pp-calendar-month .pp-day,
[data-pp-colors=light] .pp-calendar-day .pp-day {
    color: #737a83
}

[data-pp-colors=light] .pp-calendar-month .pp-event,
[data-pp-colors=light] .pp-calendar-month .pp-event .pp-event-title,
[data-pp-colors=light] .pp-calendar-day .pp-event,
[data-pp-colors=light] .pp-calendar-day .pp-event .pp-event-title {
    color: #fff
}

[data-pp-colors=light] .pp-schedule {
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15)
}

[data-pp-colors=light] .pp-schedule-title {
    background-color: #fdfdfd;
    border-color: #e5e5e5
}

[data-pp-colors=light] .pp-schedule-content {
    border-color: #e5e5e5
}

[data-pp-colors=light] .pp-schedule-hour.pp-schedule-hour-all-day .pp-schedule-content {
    background-color: #fff
}

[data-pp-colors=light] .pp-schedule-hour.pp-schedule-hour-all-day .pp-icon-clock-invers:before {
    color: #fff;
    background-color: #afafaf
}

[data-pp-colors=light] .pp-schedule-hour .pp-hour {
    color: #afafaf
}

[data-pp-colors=light].pp-schedule-day .pp-schedule-title time {
    color: #afafaf
}

[data-pp-colors=light].pp-events-month .pp-more,
[data-pp-colors=light].pp-events-workweek .pp-more,
[data-pp-colors=light].pp-events-week .pp-more {
    color: #737a83
}

[data-pp-colors=light].pp-events-month .pp-more:hover,
[data-pp-colors=light].pp-events-month .pp-more:focus,
[data-pp-colors=light].pp-events-workweek .pp-more:hover,
[data-pp-colors=light].pp-events-workweek .pp-more:focus,
[data-pp-colors=light].pp-events-week .pp-more:hover,
[data-pp-colors=light].pp-events-week .pp-more:focus {
    color: #72c0d6
}

[data-pp-colors=light].pp-events-workweek,
[data-pp-colors=light].pp-events-week {
    border-color: transparent
}

[data-pp-colors=light].pp-events-workweek .pp-calendar-day[data-weekday="6"] .pp-calendar-day-name-short,
[data-pp-colors=light].pp-events-workweek .pp-calendar-day[data-weekday="7"] .pp-calendar-day-name-short,
[data-pp-colors=light].pp-events-week .pp-calendar-day[data-weekday="6"] .pp-calendar-day-name-short,
[data-pp-colors=light].pp-events-week .pp-calendar-day[data-weekday="7"] .pp-calendar-day-name-short {
    color: #9da5ab
}

[data-pp-colors=light].pp-events-workweek .pp-calendar-day[data-weekday="6"] .pp-schedule,
[data-pp-colors=light].pp-events-workweek .pp-calendar-day[data-weekday="7"] .pp-schedule,
[data-pp-colors=light].pp-events-week .pp-calendar-day[data-weekday="6"] .pp-schedule,
[data-pp-colors=light].pp-events-week .pp-calendar-day[data-weekday="7"] .pp-schedule {
    background-color: #f7f8f9
}

[data-pp-colors=light].pp-events-workweek .pp-calendar-day[data-weekday="6"] .pp-schedule-title,
[data-pp-colors=light].pp-events-workweek .pp-calendar-day[data-weekday="7"] .pp-schedule-title,
[data-pp-colors=light].pp-events-week .pp-calendar-day[data-weekday="6"] .pp-schedule-title,
[data-pp-colors=light].pp-events-week .pp-calendar-day[data-weekday="7"] .pp-schedule-title {
    background-color: #f2f4f8;
    border-color: rgba(205, 205, 205, .8);
    color: #9da5ab
}

[data-pp-colors=light] .pp-loading:after,
[data-pp-colors=light] .pp-loading:before {
    color: #fff
}

[data-pp-colors=light] .pp-loading:before {
    background-color: #737a83
}

.pp-more-box {
    max-height: 200px;
    overflow: hidden;
    position: relative
}

.pp-more-box[data-more=false] .pp-more-cut~* {
    display: none !important
}

.pp-more-box[data-more=false] .pp-more-cut~.pp-more {
    display: block !important
}

.pp-more-box[data-more=true] .pp-more {
    display: none
}

.pp-more-box .pp-more {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    color: #72c0d6;
    font-size: 30px;
    padding: 16px auto;
    text-align: center
}

.pp-events-month .pp-more-box {
    border-radius: 4px
}

.pp-events-month .pp-more-box,
.pp-events-week .pp-more-box,
.pp-events-workweek .pp-more-box {
    text-overflow: ellipsis
}

.pp-events-month .pp-more-box .pp-more,
.pp-events-week .pp-more-box .pp-more,
.pp-events-workweek .pp-more-box .pp-more {
    background: none;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    text-align: left;
    padding-left: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.pp-events-day .pp-more-box {
    max-height: auto;
    height: auto
}

.pp-events-day .pp-more-box[data-more=true] .pp-more,
.pp-events-day .pp-more-box[data-more=false] .pp-more {
    display: none !important
}

.pp-events-day .pp-more-box[data-more=true] .pp-more-cut~*,
.pp-events-day .pp-more-box[data-more=false] .pp-more-cut~* {
    display: block !important
}

.pp-events-week .pp-more-box[data-more=true],
.pp-events-workweek .pp-more-box[data-more=true] {
    overflow: visible;
    position: relative;
    z-index: 2
}

.pp-events-month .pp-more-box {
    padding-bottom: 30px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15)
}

.pp-events-month .pp-more-box[data-more=false] {
    height: 140px
}

.pp-events-month .pp-more-box[data-more=true] {
    max-height: none;
    z-index: 1;
    padding-bottom: 5px
}

.pp-events-day .pp-calendar-days .pp-title,
.pp-events-week .pp-calendar-days .pp-title,
.pp-events-workweek .pp-calendar-days .pp-title {
    font-size: 32px;
    font-weight: 300;
    text-align: right
}

.pp-events-day .pp-schedule {
    padding-bottom: 16px
}

.pp-events-day .pp-calendar-day-name-short {
    display: none
}

.pp-events-day .pp-schedule-title {
    font-size: 32px;
    padding: 8px 16px;
    position: relative;
    margin-bottom: 16px;
    border-bottom-width: .5px;
    border-bottom-style: solid
}

.pp-events-day .pp-schedule-title.pp-new-month {
    padding-right: 32px
}

.pp-events-day .pp-schedule-title .pp-calendar-day-name-long {
    float: left
}

.pp-events-day .pp-schedule-title time {
    float: right
}

.pp-events-day .pp-schedule-hour {
    margin: 0 16px;
    padding-left: 70px
}

.pp-events-day .pp-mon {
    font-size: 12px;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    right: 8px;
    width: 4em;
    text-align: center;
    transform-origin: 2em 0;
    transform: rotate(-90deg);
    white-space: nowrap
}

.pp-events-day .pp-schedule-title .pp-calendar-day-name-long {
    float: left
}

.pp-events-day .pp-schedule-title .pp-calendar-day-name-short {
    display: none
}

.pp-events-day .pp-schedule-title time {
    float: right
}

.pp-schedule {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 16px
}

.pp-schedule .pp-schedule-hour-all-day .pp-event {
    display: block;
    float: none
}

.pp-schedule-title {
    font-size: 32px;
    font-weight: 300;
    padding: 8px 16px;
    white-space: nowrap
}

.pp-events-day .pp-schedule-title .pp-calendar-day-name-long {
    float: left
}

.pp-events-day .pp-schedule-title .pp-calendar-day-name-short {
    display: none
}

.pp-events-day .pp-schedule-title time {
    float: right
}

.pp-schedule-hour {
    position: relative;
    height: 45px
}

.pp-schedule-hour .pp-hour {
    font-size: 12px;
    letter-spacing: .02em;
    line-height: 1em;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -0.5em;
    padding-left: 20px;
    text-transform: uppercase;
    width: 65px;
    hyphens: auto
}

.pp-schedule-hour .pp-hour.pp-all-day {
    display: flex;
    align-items: center;
    height: 100%;
    hyphens: auto
}

.pp-schedule-hour .pp-hour:before {
    margin-right: .5em;
    margin-left: -20px
}

.pp-schedule-hour .pp-schedule-content {
    border-top-style: solid;
    border-top-width: .5px;
    width: 100%;
    height: 100%;
    display: flex;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .05em
}

.pp-schedule-hour .pp-schedule-content>* {
    flex: 1;
    position: relative;
    overflow: hidden
}

.pp-schedule-hour:nth-of-type(2) .pp-schedule-content {
    border-top-style: none;
    border-top-width: 0
}

.pp-schedule-hour.pp-schedule-hour-all-day {
    margin-bottom: 8px
}

.pp-events-week .pp-schedule-hour.pp-schedule-hour-all-day,
.pp-events-workweek .pp-schedule-hour.pp-schedule-hour-all-day {
    height: 96px
}

.pp-events-day .pp-schedule-hour.pp-schedule-hour-all-day {
    min-height: 85px;
    height: auto
}

.pp-schedule-hour.pp-schedule-hour-all-day .pp-schedule-content {
    height: auto
}

.pp-schedule-hour.pp-schedule-hour-all-day .pp-icon-clock-invers:before {
    border-radius: .5em;
    height: 3em;
    line-height: 3em;
    float: left
}

.pp-schedule-hour.pp-schedule-hour-all-day .pp-schedule-content {
    display: block
}

.pp-schedule-hour.pp-schedule-hour-all-day .pp-schedule-content>* {
    flex: none
}

.pp-schedule-hour:last-child .pp-schedule {
    height: 0
}

.pp-events-tiles .pp-event {
    float: left;
    padding: 8px
}

.pp-events-tiles .pp-event .pp-event-inline-content {
    box-shadow: 0 0 3px rgba(0, 0, 0, .15)
}

.pp-events-tiles .pp-event .pp-event-inner {
    position: relative;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15)
}

.pp-events-tiles .pp-event .pp-event-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.pp-events-tiles .pp-event .pp-event-heading .pp-event-meta-content {
    display: block;
    position: relative;
    padding-left: 1.5em;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 5px
}

.pp-events-tiles .pp-event .pp-event-heading .pp-event-meta-content:before {
    position: absolute;
    left: 0;
    line-height: 15px
}

.pp-events-tiles .pp-event .pp-event-heading .pp-event-meta-content * {
    margin: 0
}

.pp-events-tiles .pp-event .pp-event-heading .pp-event-meta-content,
.pp-events-tiles .pp-event .pp-event-heading .pp-event-meta-content address {
    font-style: normal
}

.pp-events-tiles .pp-event .pp-event-heading .pp-event-meta-content.pp-event-link,
.pp-events-tiles .pp-event .pp-event-heading .pp-event-meta-content a {
    font-style: italic
}

.pp-events-tiles .pp-event .pp-event-title {
    margin-bottom: 10px
}

.pp-tiles-small .pp-event {
    height: 290px;
    width: 100%
}

@media screen and (min-width: 375px)and (max-width: 767px) {
    .pp-tiles-small .pp-event {
        width: 50%
    }
}

@media screen and (min-width: 768px) {
    .pp-tiles-small .pp-event {
        width: 33.3333333333%
    }
}

.widget .pp-tiles-small .pp-event {
    width: 100%
}

.pp-tiles-small .pp-event .pp-event-date>*,
.pp-tiles-small .pp-event .pp-event-heading>* {
    color: #fff !important
}

.pp-tiles-small .pp-event .pp-event-date {
    padding: 8px;
    border-bottom: .5px solid rgba(255, 255, 255, .5)
}

.pp-tiles-small .pp-event .pp-event-date:after {
    content: "";
    display: table;
    clear: both
}

.pp-tiles-small .pp-event .pp-event-date .pp-date-short {
    width: auto;
    float: left
}

.pp-tiles-small .pp-event .pp-event-date .pp-color-day,
.pp-tiles-small .pp-event .pp-event-date .day {
    color: #fff !important
}

.pp-tiles-small .pp-event .pp-event-heading {
    padding: 8px 12px
}

.pp-tiles-small .pp-event .pp-event-heading a {
    color: #fff !important
}

.pp-tiles-small .pp-event .pp-event-visual {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0
}

.pp-tiles-small .pp-event .pp-event-visual~* {
    position: relative
}

.pp-tiles-small .pp-event .pp-event-thumbnail {
    height: 100%;
    position: relative
}

.pp-tiles-small .pp-event .pp-event-thumbnail:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3)
}

.pp-tiles-large .pp-event {
    width: 1100%;
    height: 371px
}

@media screen and (min-width: 768px) {
    .pp-tiles-large .pp-event {
        width: 50%
    }
}

.widget .pp-tiles-large .pp-event {
    width: 100%
}

.pp-tiles-large .pp-event .pp-event-visual {
    height: 205px;
    padding-bottom: 5px
}

.pp-tiles-large .pp-event .pp-event-thumbnail {
    height: 200px
}

.pp-tiles-large .pp-event .pp-event-head {
    display: flex;
    flex-direction: row;
    height: 150px;
    align-items: stretch
}

.pp-tiles-large .pp-event .pp-event-date {
    flex: 2;
    align-items: center;
    padding-top: 10px
}

.pp-tiles-large .pp-event .pp-event-heading {
    flex: 5;
    overflow: hidden;
    padding: 10px 0 0 10px
}

.pp-tiles-large .pp-event .pp-event-heading .pp-event-title {
    position: relative
}

.pp-tiles-large .pp-event .pp-event-heading .pp-event-title .pp-title-text {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 10px
}

.pp-event-inline {
    width: 100%;
    height: auto;
    padding-top: 0;
    padding-bottom: 0
}

@media screen and (min-width: 375px) {
    .pp-events-tiles .pp-event-inline {
        display: none
    }
}

.widget .pp-event-inline {
    display: block !important
}

@media screen and (min-width: 375px)and (max-width: 767px) {

    .pp-tiles-small .pp-event-inline:last-of-type,
    .pp-tiles-small .pp-event-inline:nth-of-type(2n) {
        display: block
    }
}

@media screen and (min-width: 768px) {

    .pp-tiles-small .pp-event-inline:last-of-type,
    .pp-tiles-small .pp-event-inline:nth-of-type(3n) {
        display: block
    }
}

@media screen and (max-width: 767px) {
    .pp-tiles-large .pp-event-inline {
        display: block
    }
}

@media screen and (min-width: 768px) {

    .pp-tiles-large .pp-event-inline:last-of-type,
    .pp-tiles-large .pp-event-inline:nth-of-type(2n) {
        display: block
    }
}

.pp-event-inline .pp-event {
    width: 100%;
    height: auto;
    position: relative
}

.pp-event-inline .pp-event .pp-event-inline-content {
    min-height: 100px
}

.pp-events-list .pp-event {
    border-top-style: solid;
    font-size: 1em;
    overflow: hidden
}

.pp-events-list>.pp-event {
    border-top-width: 5px
}

.pp-events-list .pp-event-inline {
    border-top-style: none
}

.pp-events-list .pp-event-inline[data-event-open=true] {
    border-top-style: solid;
    border-top-width: .5px
}

.pp-events-list .pp-event-title {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 6px;
    font-size: 1.75em;
    padding: 26px 5px 0 10px
}

.pp-events-list .pp-event-head {
    position: relative
}

.pp-events-list .pp-event-head .pp-event-date {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: baseline;
    padding-top: 26px;
    padding-bottom: 26px;
    width: 90px
}

@media screen and (min-width: 768px) {
    .pp-events-list .pp-event-head .pp-event-date {
        width: 110px
    }
}

.pp-events-list .pp-event-head .pp-event-heading {
    padding-left: 100px;
    padding-bottom: 26px
}

@media screen and (min-width: 768px) {
    .pp-events-list .pp-event-head .pp-event-heading {
        padding-left: 120px
    }
}

.pp-events-list.pp-list-compact .pp-event-head {
    display: flex
}

.pp-events-list.pp-list-compact .pp-event-head .pp-event-date {
    padding-top: 16px;
    padding-right: 4px;
    padding-bottom: 16px;
    width: auto;
    flex: 0 1 auto;
    position: static
}

@media screen and (min-width: 768px) {
    .pp-events-list.pp-list-compact .pp-event-head .pp-event-date {
        width: auto
    }
}

.pp-events-list.pp-list-compact .pp-event-head .pp-date-short {
    margin-left: 8px
}

.pp-events-list.pp-list-compact .pp-event-head .pp-date-short.pp-multiple-days {
    margin-right: 30px
}

.pp-events-list.pp-list-compact .pp-event-head .pp-date-short .pp-date-from .day {
    font-size: 25px
}

@media screen and (min-width: 768px) {
    .pp-events-list.pp-list-compact .pp-event-head .pp-date-short .pp-date-from .day {
        font-size: 25px
    }
}

.pp-events-list.pp-list-compact .pp-event-head .pp-event-heading {
    flex: 1 1;
    padding-left: 0;
    padding-bottom: 16px
}

@media screen and (min-width: 768px) {
    .pp-events-list.pp-list-compact .pp-event-head .pp-event-heading {
        padding-left: 0
    }
}

.pp-events-list.pp-list-compact .pp-event-title {
    font-size: 1.125em;
    padding: 16px 5px 0 10px
}

.pp-events-list .pp-event-meta {
    font-size: .75em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px
}

.pp-events-list .pp-event-meta>* {
    display: inline;
    margin-left: 10px
}

.pp-events-list .pp-event-meta>*,
.pp-events-list .pp-event-meta>* address {
    font-style: normal
}

.pp-events-list .pp-event-meta>* a {
    font-style: italic
}

.pp-events-list .pp-event-meta>*>* {
    display: inline
}

.pp-events-list .pp-event-meta>* br {
    display: none
}

.pp-events-list.pp-events {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15)
}

.pp-events-month {
    border-radius: 4px
}

.pp-calendar-month {
    border-collapse: collapse;
    margin-left: -8px;
    margin-right: -8px;
    border-style: none;
    min-width: 100%
}

.pp-calendar-month .pp-calendar-month-title {
    text-align: right
}

.pp-calendar-month .pp-calendar-month-title .pp-title {
    font-size: 32px
}

@media screen and (min-width: 768px) {
    .pp-calendar-month .pp-calendar-month-title .pp-title {
        font-size: 50px
    }
}

.pp-calendar-month td,
.pp-calendar-month th {
    vertical-align: top;
    margin: 0;
    padding: 4px;
    border-style: none
}

.pp-calendar-month th {
    background-color: transparent
}

.pp-calendar-month th[data-weekday] {
    height: 12px;
    line-height: 12px;
    font-weight: 300;
    text-align: right;
    width: 14.2857142857%;
    padding: 8px 6px
}

.pp-calendar-month [data-day] {
    position: relative
}

.pp-calendar-month [data-day] .pp-day {
    content: attr(data-day);
    border-radius: 4px 4px 0 0;
    text-align: right;
    border-bottom-style: solid;
    border-bottom-width: .5px;
    font-size: 18px;
    padding: 3px 4px;
    font-weight: 300;
    margin-bottom: 3px;
    position: relative
}

@media screen and (min-width: 768px) {
    .pp-calendar-month [data-day] .pp-day {
        font-size: 22px
    }
}

.pp-calendar-month [data-day] .pp-day .pp-mon {
    font-size: 10px;
    line-height: 0;
    height: 0;
    width: 4em;
    transform: rotate(-90deg);
    position: absolute;
    left: -1.1em;
    top: 50%;
    text-align: center;
    text-transform: uppercase;
    transform-origin: 2em 0em;
    white-space: nowrap
}

.pp-events-week .pp-calendar-day,
.pp-events-workweek .pp-calendar-day {
    overflow: visible;
    padding: 0 3px
}

@media screen and (min-width: 768px) {

    .pp-events-week .pp-calendar-day,
    .pp-events-workweek .pp-calendar-day {
        float: left
    }
}

.pp-events-week .pp-calendar-day .pp-hour,
.pp-events-workweek .pp-calendar-day .pp-hour {
    position: absolute;
    left: -70px
}

@media screen and (min-width: 768px) {

    .pp-events-week .pp-calendar-day .pp-hour,
    .pp-events-workweek .pp-calendar-day .pp-hour {
        display: none
    }
}

@media screen and (min-width: 768px)and (max-width: 838px) {
    .pp-events-week .pp-calendar-day .pp-hour {
        width: 35px;
        overflow: hidden;
        left: -50px
    }

    .pp-events-week .pp-calendar-day .pp-hour .pp-minutes {
        display: none
    }

    .pp-events-week .pp-calendar-day .pp-hour.pp-all-day:before {
        margin-left: 0
    }

    .pp-events-week .pp-calendar-day .pp-hour.pp-icon-clock:before {
        content: none
    }
}

.pp-events-week .pp-calendar-day .pp-schedule {
    overflow: visible
}

@media screen and (max-width: 767px) {
    .pp-events-week .pp-calendar-day .pp-schedule {
        margin-left: 70px
    }
}

@media screen and (min-width: 768px) {
    .pp-events-week .pp-calendar-day {
        width: 14.2857142857%
    }

    .pp-events-week .pp-calendar-day:nth-of-type(7n+1) {
        clear: left
    }

    .pp-events-week .pp-calendar-day:nth-of-type(7n+1) .pp-schedule {
        overflow: visible
    }

    .pp-events-week .pp-calendar-day:nth-of-type(7n+1) .pp-hour {
        display: flex
    }
}

@media screen and (min-width: 768px) {
    .pp-events-workweek .pp-calendar-day {
        width: 20%
    }

    .pp-events-workweek .pp-calendar-day:nth-of-type(5n+1) {
        clear: left
    }

    .pp-events-workweek .pp-calendar-day:nth-of-type(5n+1) .pp-schedule {
        overflow: visible
    }

    .pp-events-workweek .pp-calendar-day:nth-of-type(5n+1) .pp-hour {
        display: flex
    }
}

.pp-calendar-day .pp-mon {
    text-transform: uppercase
}

.pp-events-week .pp-calendar-day .pp-mon {
    font-size: 12px
}

.pp-events-week .pp-schedule-title,
.pp-events-workweek .pp-schedule-title {
    padding: 5px;
    text-align: right;
    font-size: 18px;
    border-bottom-style: solid;
    border-bottom-width: .5px
}

.pp-events-month .pp-event-title,
.pp-events-week .pp-event-title,
.pp-events-workweek .pp-event-title {
    font-size: 11px
}

.pp-events-month .pp-time,
.pp-events-week .pp-time,
.pp-events-workweek .pp-time {
    font-size: 10px
}

.pp-events-week,
.pp-events-workweek {
    margin-left: -80px;
    padding-left: 80px;
    margin-right: -8px;
    padding-right: 8px;
    padding-top: 8px;
    border-radius: 4px;
    border-width: .5px;
    border-style: solid
}

.pp-events-week .pp-calendar-day-name-long,
.pp-events-workweek .pp-calendar-day-name-long {
    display: none
}

.pp-events-week .pp-calendar-day-name-short,
.pp-events-workweek .pp-calendar-day-name-short {
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
    margin: 5px
}

.pp-events-week .pp-event>.pp-icon-clock:before,
.pp-events-workweek .pp-event>.pp-icon-clock:before {
    content: none
}

.pp-calendar-day .pp-event,
.pp-calendar-month .pp-event {
    line-height: 18px;
    white-space: nowrap;
    margin-bottom: 2px;
    padding-left: 6px;
    position: relative;
    text-align: right
}

.pp-calendar-day .pp-event .pp-event-title,
.pp-calendar-month .pp-event .pp-event-title {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left
}

.pp-calendar-day .pp-event.pp-all-day .pp-event-title,
.pp-calendar-month .pp-event.pp-all-day .pp-event-title {
    right: 6px
}

.pp-calendar-day .pp-event .pp-event-title,
.pp-calendar-day .pp-event .pp-time,
.pp-calendar-month .pp-event .pp-event-title,
.pp-calendar-month .pp-event .pp-time {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left
}

.pp-calendar-day .pp-event {
    z-index: 1
}

.pp-calendar-day .pp-event .pp-event-title {
    text-decoration: none;
    display: block;
    padding: 0
}

.pp-calendar-day .pp-event .pp-time {
    display: block
}

.pp-calendar-day .pp-event .pp-time:before {
    margin-left: 0
}

.pp-calendar-day .pp-event .pp-time .pp-time-short {
    display: inline-block
}

.pp-calendar-month .pp-event {
    height: 18px
}

.pp-calendar-month .pp-event .pp-event-title {
    position: absolute;
    top: 0;
    left: 6px;
    right: 20px
}

.pp-event-recurring {
    border-top-width: .5px;
    border-top-style: solid;
    padding: 20px 16px
}

.pp-event-recurring.pp-more-box {
    max-height: 200px
}

.pp-event-recurring .pp-title {
    font-weight: 300;
    padding: 0 16px
}

.pp-event-recurring .pp-title+* {
    margin: -8px
}

.pp-event-recurring[data-more=true] {
    max-height: none
}

.pp-event-recurring .pp-recurring-date {
    transition: background-color .3s;
    width: 33.3333333333%;
    cursor: pointer;
    float: left;
    padding: 10px 0;
    display: flex;
    align-items: center
}

@media screen and (min-width: 768px) {
    .pp-event-recurring .pp-recurring-date {
        width: 20%
    }
}

.pp-event-recurring .pp-recurring-date .day {
    transition: color .3s
}

.pp-event-recurring .pp-recurring-date .pp-date-short.pp-multiple-days {
    margin-left: 5px
}

.pp-event-lightbox {
    position: fixed;
    overscroll-behavior: contain;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 10000;
    overflow: auto;
    padding: 60px 0
}

.pp-event-lightbox .pp-close {
    top: 8px
}

.pp-event-lightbox .pp-event {
    position: relative;
    width: 100%;
    max-width: 600px;
    padding: 0 8px;
    margin: 0 auto
}

.pp-event-lightbox .pp-event .pp-event-inline-content {
    min-height: 200px
}

.pp-event-inline .pp-close,
.pp-event-lightbox .pp-close {
    position: absolute;
    right: 16px;
    font-size: 30px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    transition: color .3s
}

.pp-event-inline .pp-close:before,
.pp-event-lightbox .pp-close:before {
    margin: 0
}

.pp-event-inline .pp-close:hover,
.pp-event-lightbox .pp-close:hover {
    color: #72c0d6
}

.pp-event-inline .pp-loading:before,
.pp-event-inline .pp-loading:after,
.pp-event-lightbox .pp-loading:before,
.pp-event-lightbox .pp-loading:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -0.5em
}

.pp-event-inline .pp-close {
    top: 16px
}

.pp-pages {
    position: relative;
    padding-top: 40px
}

.pp-pages .pp-pages-controls {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 40px
}

.pp-pages .pp-pages-controls [data-action] {
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 1;
    transition: all .3s ease-out;
    line-height: 1em
}

.pp-pages .pp-pages-controls [data-action]:before {
    margin: 0
}

.pp-pages .pp-pages-controls [data-action]:hover {
    opacity: 1
}

.pp-pages .pp-pages-controls [data-action]:focus {
    outline: none
}

.pp-pages .pp-pages-controls [data-action=prev] {
    left: 0
}

.pp-pages .pp-pages-controls [data-action=next] {
    right: 0
}

.pp-pages>.pp-events {
    display: none;
    opacity: 0;
    position: relative;
    transition: opacity .3s ease-out
}

.mce-content-body .pp-pages>.pp-events:first-of-type {
    display: block;
    opacity: 1
}

.pp-pages>.pp-events[data-pp-colors=light]~.pp-pages-controls [data-action] {
    color: #cdcdcd
}

.pp-pages>.pp-events[data-pp-colors=dark]~.pp-pages-controls [data-action] {
    color: #3a3e43
}

.pp-pages>.pp-events.pp-active {
    display: block;
    opacity: 1;
    top: 0
}

.pp-pages>.pp-events.pp-active:first-of-type~.pp-pages-controls [data-action=prev] {
    display: none
}

.pp-pages>.pp-events.pp-active+.pp-pages-controls [data-action=next] {
    display: none
}

.pp-icon-button {
    font-size: 30px
}

.pp-icon-button,
.pp-icon-button:hover,
.pp-icon-button:focus,
.pp-icon-button:active {
    padding: 5px;
    margin: 0;
    background: transparent;
    border-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}